* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    /* border: #000000 1px solid; */
}

.nav-logo img {
    width: 139px;
    height: 60px;
}

header nav ul {
    display: block;
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav ul li a {
    text-decoration: none;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

header nav ul li a:hover {
    background-color: #30B868;
    color: white;
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.final-btn-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.final-section-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    /* font-weight: 600; */
}
.btn {
    background-color: #30B868;
    color: white;
    /* padding: 12px 16px;
    border-radius: 4px; */
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: transparent;
}

.final-section-btn img {
    /* width: 15px;
    height: 15px; */
    padding-top: 5px;
}

.final-section-btn-odd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid #ffffff;
   
}
.final-section-btn-odd img {
    width: 15px;
    height: 15px;
    padding-top: 4px;

}

.btn-odd {
    background-color: transparent;
    color: #30B868;
    
    /* border-radius: 4px; */
    border:none;
    font-size: 16px;
    font-weight: 600;
}

.final-section-btn-odd:hover {
    background-color: #fbfcfc;
    
    padding: 15px 16px;
    border-radius: 4px;
    border: none;
    border: 1px solid #30B868;
    font-weight: 600;
    cursor: pointer;
}

.final-section-btn:hover {
    background-color: #116c35;
    cursor: pointer;
}

.banner {
    background-image: url("../B13-A01-Knowledge-Vault-main/B13-A01-Knowledge-Vault-main/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.banner h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    color: #30B868;
}

.white-part {
    color: white;
    font-size: 72px;
    font-weight: 700;

}

.green-part {
    display: block;
    color: #30B868;
    font-size: 72px;
    font-weight: 700;

}

.banner p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}

.card {
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding-top: 100px;
}

.header-text h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.header-text h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;
}

.card-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 44px;

}

.card-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.3);
    width: 322px;
    height: 300px;
    gap: 16px;
    padding: 24px;
}

.card-design h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

}

.card-logo {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.knowledge-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    margin: 120px;
}

.image-section {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.knowledge-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.knowledge-header,
.knowledge-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

/* .knowledge-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

} */
.knowledge-list-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.knowledge-header h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #30B868;
}

.knowledge-header h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.final-section {
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 120px 120px;
    border-radius: 12px;

}
.final-section-all {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 80px 40px;

}
.final-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
